.toggle-button__wrapper
  .toggle-button__background
  //- .toggle-button__slider
  each button in data.content.language
    a(
      href=button.url
      class=`toggle-button__label${button.value === lang ? '--active' : ''}`
    )= button.label
