$toggle-button-height: 3.6rem
$toggle-button-border-radius: 0.8rem
$toggle-button-wrapper-width: 20rem

.toggle-button__wrapper,
.toggle-button__background
  position: relative
  width: $toggle-button-wrapper-width
  height: $toggle-button-height
  margin: $toggle-button-height auto 0

.toggle-button__background

  &:after,
  &:before
    // shared style between after and before
    width: $toggle-button-wrapper-width
    content: ''
    height: $toggle-button-height
    position: absolute
    border-radius: $toggle-button-border-radius

  &:after
    background-image: linear-gradient($color-loblolly-light, $color-loblolly-normal)

  &:before
    top: -0.1rem
    background-color: $color-cape-cod

.toggle-button__slider
  transition: 0.25s
  position: absolute
  top: 0
  left: 0
  border-radius: $toggle-button-border-radius
  width: 10rem
  height: $toggle-button-height
  border: 0
  color: $color-white
  background-image: linear-gradient($color-apple, $color-salem)

.toggle-button__label
  font-size: 1.6rem
  cursor: pointer
  top: 0
  position: absolute
  width: 50%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

  &:nth-of-type(1)
    left: 0
  &:nth-of-type(2)
    right: 0

.toggle-button__radio
  display: none
  &:checked:nth-of-type(1) ~ .toggle-button__slider
    left: 0
  &:checked:nth-of-type(2) ~ .toggle-button__slider
    left: 50%

