.toggle-button__wrapper,
.toggle-button__background
  position: relative
  width: $toggle-button-wrapper-width
  height: $toggle-button-height
  margin: 0 auto
  display: flex
  box-shadow: 1px -1px 0px $color-black
  border-radius: $toggle-button-border-radius
  background-image: linear-gradient($color-loblolly-light, $color-loblolly-normal)

.toggle-button__label,
.toggle-button__label--active
  font-family: 'Arial'
  font-size: 1.6rem
  cursor: pointer
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  flex: 1

.toggle-button__label--active
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.6rem
  border-radius: $toggle-button-border-radius
  width: 10rem
  height: $toggle-button-height
  border: 0
  color: $color-white

.toggle-button__label--active
  background-image: linear-gradient($color-apple, $color-salem)
