.review__wrapper
  each review in data.reviews
    .review
      .review__avatar
        img(src="#" alt="empty")
      .review__name=review.name
      .review__rating=review.rating
      .review__text=review.text
      .review__time=review.time