.review__wrapper
  each review in data.reviews
    .review
      .review__avatar
      .review__name=review.name
      .review__rating=review.rating
      if review.text
        .review__text=review.text
      .review__time=review.time