.review
  display: grid
  grid-template-columns: 64px 1fr 50px

  width: 100%
  margin-bottom: 2rem
  background-color: rgba($color-white, 0.8)
  border-radius: $square-button-border-radius

.review__avatar
  grid-column: 1/2
  grid-row: 1/3

.review__name
  grid-column: 2/3
  grid-row: 1/2

.review__rating
  grid-column: 3/4
  grid-row: 1/2

.review__time
  grid-column: 2/3
  grid-row: 2/3

.review__text
  grid-column: 1/4
  grid-row: 3/4

.review__name,
.review__time,
.review__rating
  padding: 0.5rem 1rem
  font-size: 1.4rem

.review__text
  padding: 1rem
  font-size: 1.6rem
