%header-main
  text-align: center
  color: $color-white
  text-transform: uppercase
  font-size: 4.8rem
  margin: 1.5rem 0

h1
  font-family: 'Oswald'
  font-size: 4.8rem

  @extend %header-main

h2
  font-family: $font-family-serif
  font-size: 3.6rem

  @extend %header-main

h3
  font-family: $font-family-serif
  font-size: 2.8rem
  text-align: left

  @extend %header-main

h4
  font-family: $font-family-serif
  font-size: 2.4rem
  text-align: left
  font-style: italic

  @extend %header-main

p, 
li,
.button__watch,
.button__course
  font-family: $font-family-serif
  font-size: 1.5rem
  padding: 1rem 1.5rem
  background-color: rgba($color-white, 1)
  line-height: 1.4

p,
.button__watch,
.button__course
  border-radius: $square-button-border-radius
  margin: 1rem 0

.button__watch,
.button__course
  text-align: center
  margin: 1rem auto
  display: inline-block
  text-decoration: none
  display: inline-flex
  align-items: center
  background-color: $color-alizarin-crimson
  color: $color-white

  &:before
    font-family: 'codetap'
    font-size: 2rem
    // padding: 0.5rem
    padding-right: 1rem

.button__watch
  &:before
    @extend .codetap__icon--youtube:after

.button__course
  &:before
    @extend .codetap__icon--zero-to-one:after

li
  &:nth-child(even)
    background: $color-loblolly-light

  &:first-child
    border-top-left-radius: $square-button-border-radius
    border-top-right-radius: $square-button-border-radius

  &:last-child
    border-bottom-left-radius: $square-button-border-radius
    border-bottom-right-radius: $square-button-border-radius

ol li
  counter-increment: li

  &:before
    content: counter(li) ": "

ol,
ul
  padding-top: 1rem
  list-style-type: none
  counter-reset: li
  // padding-left: 3rem
