%header-main
  text-align: center
  color: $color-white
  text-transform: uppercase
  font-size: 4.8rem
  margin: 1.5rem 0

h1
  font-family: 'Oswald'
  font-size: 4.8rem

  @extend %header-main

h2
  font-family: 'Lato'
  font-size: 3.6rem

  @extend %header-main

h3
  font-family: 'Lato'
  font-size: 2.8rem
  text-align: left

  @extend %header-main

p, 
ol,
ul
  font-family: 'Lato'
  font-size: 1.5rem
  padding: 1rem 1.5rem
  background-color: rgba($color-white, 1)
  border-radius: $square-button-border-radius
  margin: 1rem 0
  line-height: 1.4

ol,
ul
  padding-left: 3rem
