@font-face
  font-family: 'codetap'
  src: url('/asset/font/codetap.ttf?fwzla4z') format('truetype'), url('/asset/font/codetap.woff?fwzla4z') format('woff'), url('/asset/font/codetap.svg?fwzla4z#codetap') format('svg')
  font-weight: normal
  font-style: normal

[class^="codetap__icon--"], [class*=" codetap__icon--"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codetap' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.codetap__icon--reviews:after
  content: "\e906"

.codetap__icon--youtube:after
  content: "\e912"

.codetap__icon--chat:after
  content: "\e96e"

.codetap__icon--opportunities:after
  content: "\e99b"

.codetap__icon--who-made-it:after
  content: "\e99e"

.codetap__icon--one-to-hero:after
  content: "\e9a5"

.codetap__icon--hired:after
  content: "\e9ae"

.codetap__icon--zero-to-one:after
  content: "\e9b2"

.codetap__icon--menu:after
  content: "\e9bd"

.codetap__icon--faq:after
  content: "\ea0c"

