.menu
  +inputFrame({id: 'menu__toggle'})
  .menu__list
    //- pre=JSON.stringify(content['menu-list'], null, 2)
    each menuItem in content['menu-list']
      .menu__label
        .menu__item
          .menu__text= menuItem.label[lang]
          div(class=`codetap__icon--${menuItem.icon}`)
  .menu__label--toggle
    label.menu__item(for="menu__toggle")
      .menu__text= content.menu[lang]
      .codetap__icon--menu